<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>On&apos;yomi</string>
	<string>Kun&apos;yomi</string>
	<string>Złożenia</string>
	<string>Zdania</string>
</array>
</plist>
