<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>hhya</string>
		<string>っひゃ</string>
		<string>ッヒャ</string>
	</array>
	<array>
		<string>hhyu</string>
		<string>っひゅ</string>
		<string>ッヒュ</string>
	</array>
	<array>
		<string>hhyo</string>
		<string>っひょ</string>
		<string>ッヒョ</string>
	</array>
	<array>
		<string>bbya</string>
		<string>っびゃ</string>
		<string>ッビャ</string>
	</array>
	<array>
		<string>bbyu</string>
		<string>っびゅ</string>
		<string>ッビュ</string>
	</array>
	<array>
		<string>bbyo</string>
		<string>っびょ</string>
		<string>ッビョ</string>
	</array>
	<array>
		<string>ppya</string>
		<string>っぴゃ</string>
		<string>ッピャ</string>
	</array>
	<array>
		<string>ppyu</string>
		<string>っぴゅ</string>
		<string>ッピュ</string>
	</array>
	<array>
		<string>ppyo</string>
		<string>っぴょ</string>
		<string>ッピョ</string>
	</array>
	<array>
		<string>ssha</string>
		<string>っしゃ</string>
		<string>ッシャ</string>
	</array>
	<array>
		<string>sshu</string>
		<string>っしゅ</string>
		<string>ッシュ</string>
	</array>
	<array>
		<string>ssho</string>
		<string>っしょ</string>
		<string>ッショ</string>
	</array>
	<array>
		<string>jja</string>
		<string>っじゃ</string>
		<string>ッジャ</string>
	</array>
	<array>
		<string>jju</string>
		<string>っじゅ</string>
		<string>ッジュ</string>
	</array>
	<array>
		<string>jjo</string>
		<string>っじょ</string>
		<string>ッジョ</string>
	</array>
	<array>
		<string>ssa</string>
		<string>っさ</string>
		<string>ッサ</string>
	</array>
	<array>
		<string>sshi</string>
		<string>っし</string>
		<string>ッシ</string>
	</array>
	<array>
		<string>ssi</string>
		<string>っし</string>
		<string>ッシ</string>
	</array>
	<array>
		<string>ssu</string>
		<string>っす</string>
		<string>ッス</string>
	</array>
	<array>
		<string>sse</string>
		<string>っせ</string>
		<string>ッセ</string>
	</array>
	<array>
		<string>sso</string>
		<string>っそ</string>
		<string>ッソ</string>
	</array>
	<array>
		<string>zza</string>
		<string>っざ</string>
		<string>ッザ</string>
	</array>
	<array>
		<string>jji</string>
		<string>っじ</string>
		<string>ッジ</string>
	</array>
	<array>
		<string>zzi</string>
		<string>っじ</string>
		<string>ッジ</string>
	</array>
	<array>
		<string>zzu</string>
		<string>っず</string>
		<string>ッズ</string>
	</array>
	<array>
		<string>zze</string>
		<string>っぜ</string>
		<string>ッゼ</string>
	</array>
	<array>
		<string>zzo</string>
		<string>っぞ</string>
		<string>ッゾ</string>
	</array>
	<array>
		<string>nkya</string>
		<string>んきゃ</string>
		<string>ンキャ</string>
	</array>
	<array>
		<string>nkyu</string>
		<string>んきゅ</string>
		<string>ンキュ</string>
	</array>
	<array>
		<string>nkyo</string>
		<string>んきょ</string>
		<string>ンキョ</string>
	</array>
	<array>
		<string>ngya</string>
		<string>んぎゃ</string>
		<string>ンギャ</string>
	</array>
	<array>
		<string>ngyu</string>
		<string>んぎゅ</string>
		<string>ンギュ</string>
	</array>
	<array>
		<string>ngyo</string>
		<string>んぎょ</string>
		<string>ンギョ</string>
	</array>
	<array>
		<string>nsha</string>
		<string>んしゃ</string>
		<string>ンシャ</string>
	</array>
	<array>
		<string>nshu</string>
		<string>んしゅ</string>
		<string>ンシュ</string>
	</array>
	<array>
		<string>nsho</string>
		<string>んしょ</string>
		<string>ンショ</string>
	</array>
	<array>
		<string>nja</string>
		<string>んじゃ</string>
		<string>ンジャ</string>
	</array>
	<array>
		<string>nju</string>
		<string>んじゅ</string>
		<string>ンジュ</string>
	</array>
	<array>
		<string>njo</string>
		<string>んじょ</string>
		<string>ンジョ</string>
	</array>
	<array>
		<string>ncha</string>
		<string>んちゃ</string>
		<string>ンチャ</string>
	</array>
	<array>
		<string>nchu</string>
		<string>んちゅ</string>
		<string>ンチュ</string>
	</array>
	<array>
		<string>ncho</string>
		<string>んちょ</string>
		<string>ンチョ</string>
	</array>
	<array>
		<string>nhya</string>
		<string>んひゃ</string>
		<string>ンヒャ</string>
	</array>
	<array>
		<string>nhyu</string>
		<string>んひゅ</string>
		<string>ンヒュ</string>
	</array>
	<array>
		<string>nhyo</string>
		<string>んひょ</string>
		<string>ンヒョ</string>
	</array>
	<array>
		<string>nbya</string>
		<string>んびゃ</string>
		<string>ンビャ</string>
	</array>
	<array>
		<string>nbyu</string>
		<string>んびゅ</string>
		<string>ンビュ</string>
	</array>
	<array>
		<string>nbyo</string>
		<string>んびょ</string>
		<string>ンビョ</string>
	</array>
	<array>
		<string>npya</string>
		<string>んぴゃ</string>
		<string>ンピャ</string>
	</array>
	<array>
		<string>npyu</string>
		<string>んぴゅ</string>
		<string>ンピュ</string>
	</array>
	<array>
		<string>npyo</string>
		<string>んぴょ</string>
		<string>ンピョ</string>
	</array>
	<array>
		<string>kkya</string>
		<string>っきゃ</string>
		<string>ッキャ</string>
	</array>
	<array>
		<string>kkyu</string>
		<string>っきゅ</string>
		<string>ッキュ</string>
	</array>
	<array>
		<string>kkyo</string>
		<string>っきょ</string>
		<string>ッキョ</string>
	</array>
	<array>
		<string>ggya</string>
		<string>っぎゃ</string>
		<string>ッギャ</string>
	</array>
	<array>
		<string>ggyu</string>
		<string>っぎゅ</string>
		<string>ッギュ</string>
	</array>
	<array>
		<string>ggyo</string>
		<string>っぎょ</string>
		<string>ッギョ</string>
	</array>
	<array>
		<string>ccha</string>
		<string>っちゃ</string>
		<string>ッチャ</string>
	</array>
	<array>
		<string>cchu</string>
		<string>っちゅ</string>
		<string>ッチュ</string>
	</array>
	<array>
		<string>ccho</string>
		<string>っちょ</string>
		<string>ッチョ</string>
	</array>
	<array>
		<string>tcha</string>
		<string>っちゃ</string>
		<string>ッチャ</string>
	</array>
	<array>
		<string>tchu</string>
		<string>っちゅ</string>
		<string>ッチュ</string>
	</array>
	<array>
		<string>tcho</string>
		<string>っちょ</string>
		<string>ッチョ</string>
	</array>
	<array>
		<string>cchi</string>
		<string>っち</string>
		<string>ッチ</string>
	</array>
	<array>
		<string>tchi</string>
		<string>っち</string>
		<string>ッチ</string>
	</array>
	<array>
		<string>nmya</string>
		<string>んみゃ</string>
		<string>ンミャ</string>
	</array>
	<array>
		<string>nmyu</string>
		<string>んみゅ</string>
		<string>ンミュ</string>
	</array>
	<array>
		<string>nmyo</string>
		<string>んみょ</string>
		<string>ンミョ</string>
	</array>
	<array>
		<string>nrya</string>
		<string>んりゃ</string>
		<string>ンリャ</string>
	</array>
	<array>
		<string>nryu</string>
		<string>んりゅ</string>
		<string>ンリュ</string>
	</array>
	<array>
		<string>nryo</string>
		<string>んりょ</string>
		<string>ンリョ</string>
	</array>
	<array>
		<string>tta</string>
		<string>った</string>
		<string>ッタ</string>
	</array>
	<array>
		<string>cchi</string>
		<string>っち</string>
		<string>ッチ</string>
	</array>
	<array>
		<string>tti</string>
		<string>っち</string>
		<string>ッチ</string>
	</array>
	<array>
		<string>ttsu</string>
		<string>っつ</string>
		<string>ッツ</string>
	</array>
	<array>
		<string>ttu</string>
		<string>っつ</string>
		<string>ッツ</string>
	</array>
	<array>
		<string>tte</string>
		<string>って</string>
		<string>ッテ</string>
	</array>
	<array>
		<string>tto</string>
		<string>っと</string>
		<string>ット</string>
	</array>
	<array>
		<string>kya</string>
		<string>きゃ</string>
		<string>キャ</string>
	</array>
	<array>
		<string>kyu</string>
		<string>きゅ</string>
		<string>キュ</string>
	</array>
	<array>
		<string>kyo</string>
		<string>きょ</string>
		<string>キョ</string>
	</array>
	<array>
		<string>gya</string>
		<string>ぎゃ</string>
		<string>ギャ</string>
	</array>
	<array>
		<string>gyu</string>
		<string>ぎゅ</string>
		<string>ギュ</string>
	</array>
	<array>
		<string>gyo</string>
		<string>ぎょ</string>
		<string>ギョ</string>
	</array>
	<array>
		<string>sha</string>
		<string>しゃ</string>
		<string>シャ</string>
	</array>
	<array>
		<string>shu</string>
		<string>しゅ</string>
		<string>シュ</string>
	</array>
	<array>
		<string>sho</string>
		<string>しょ</string>
		<string>ショ</string>
	</array>
	<array>
		<string>ja</string>
		<string>じゃ</string>
		<string>ジャ</string>
	</array>
	<array>
		<string>ju</string>
		<string>じゅ</string>
		<string>ジュ</string>
	</array>
	<array>
		<string>jo</string>
		<string>じょ</string>
		<string>ジョ</string>
	</array>
	<array>
		<string>cha</string>
		<string>ちゃ</string>
		<string>チャ</string>
	</array>
	<array>
		<string>chu</string>
		<string>ちゅ</string>
		<string>チュ</string>
	</array>
	<array>
		<string>cho</string>
		<string>ちょ</string>
		<string>チョ</string>
	</array>
	<array>
		<string>nya</string>
		<string>にゃ</string>
		<string>ニャ</string>
	</array>
	<array>
		<string>nyu</string>
		<string>にゅ</string>
		<string>ニュ</string>
	</array>
	<array>
		<string>nyo</string>
		<string>にょ</string>
		<string>ニョ</string>
	</array>
	<array>
		<string>hya</string>
		<string>ひゃ</string>
		<string>ヒャ</string>
	</array>
	<array>
		<string>hyu</string>
		<string>ひゅ</string>
		<string>ヒュ</string>
	</array>
	<array>
		<string>hyo</string>
		<string>ひょ</string>
		<string>ヒョ</string>
	</array>
	<array>
		<string>bya</string>
		<string>びゃ</string>
		<string>ビャ</string>
	</array>
	<array>
		<string>byu</string>
		<string>びゅ</string>
		<string>ビュ</string>
	</array>
	<array>
		<string>byo</string>
		<string>びょ</string>
		<string>ビョ</string>
	</array>
	<array>
		<string>pya</string>
		<string>ぴゃ</string>
		<string>ピャ</string>
	</array>
	<array>
		<string>pyu</string>
		<string>ぴゅ</string>
		<string>ピュ</string>
	</array>
	<array>
		<string>pyo</string>
		<string>ぴょ</string>
		<string>ピョ</string>
	</array>
	<array>
		<string>mya</string>
		<string>みゃ</string>
		<string>ミャ</string>
	</array>
	<array>
		<string>myu</string>
		<string>みゅ</string>
		<string>ミュ</string>
	</array>
	<array>
		<string>myo</string>
		<string>みょ</string>
		<string>ミョ</string>
	</array>
	<array>
		<string>rya</string>
		<string>りゃ</string>
		<string>リャ</string>
	</array>
	<array>
		<string>ryu</string>
		<string>りゅ</string>
		<string>リュ</string>
	</array>
	<array>
		<string>ryo</string>
		<string>りょ</string>
		<string>リョ</string>
	</array>
	<array>
		<string>nba</string>
		<string>んば</string>
		<string>ンバ</string>
	</array>
	<array>
		<string>nbi</string>
		<string>んび</string>
		<string>ンビ</string>
	</array>
	<array>
		<string>nbu</string>
		<string>んぶ</string>
		<string>ンブ</string>
	</array>
	<array>
		<string>nbe</string>
		<string>んべ</string>
		<string>ンベ</string>
	</array>
	<array>
		<string>nbo</string>
		<string>んぼ</string>
		<string>ンボ</string>
	</array>
	<array>
		<string>npa</string>
		<string>んぱ</string>
		<string>ンパ</string>
	</array>
	<array>
		<string>npi</string>
		<string>んぴ</string>
		<string>ンピ</string>
	</array>
	<array>
		<string>npu</string>
		<string>んぷ</string>
		<string>ンプ</string>
	</array>
	<array>
		<string>npe</string>
		<string>んぺ</string>
		<string>ンペ</string>
	</array>
	<array>
		<string>npo</string>
		<string>んぽ</string>
		<string>ンポ</string>
	</array>
	<array>
		<string>mba</string>
		<string>んば</string>
		<string>ンバ</string>
	</array>
	<array>
		<string>mbi</string>
		<string>んび</string>
		<string>ンビ</string>
	</array>
	<array>
		<string>mbu</string>
		<string>んぶ</string>
		<string>ンブ</string>
	</array>
	<array>
		<string>mbe</string>
		<string>んべ</string>
		<string>ンベ</string>
	</array>
	<array>
		<string>mbo</string>
		<string>んぼ</string>
		<string>ンボ</string>
	</array>
	<array>
		<string>mpa</string>
		<string>んぱ</string>
		<string>ンパ</string>
	</array>
	<array>
		<string>mpi</string>
		<string>んぴ</string>
		<string>ンピ</string>
	</array>
	<array>
		<string>mpu</string>
		<string>んぷ</string>
		<string>ンプ</string>
	</array>
	<array>
		<string>mpe</string>
		<string>んぺ</string>
		<string>ンペ</string>
	</array>
	<array>
		<string>mpo</string>
		<string>んぽ</string>
		<string>ンポ</string>
	</array>
	<array>
		<string>kka</string>
		<string>っか</string>
		<string>ッカ</string>
	</array>
	<array>
		<string>kki</string>
		<string>っき</string>
		<string>ッキ</string>
	</array>
	<array>
		<string>kku</string>
		<string>っく</string>
		<string>ック</string>
	</array>
	<array>
		<string>kke</string>
		<string>っけ</string>
		<string>ッケ</string>
	</array>
	<array>
		<string>kko</string>
		<string>っこ</string>
		<string>ッコ</string>
	</array>
	<array>
		<string>gga</string>
		<string>っが</string>
		<string>ッガ</string>
	</array>
	<array>
		<string>ggi</string>
		<string>っぎ</string>
		<string>ッギ</string>
	</array>
	<array>
		<string>ggu</string>
		<string>っぐ</string>
		<string>ッグ</string>
	</array>
	<array>
		<string>gge</string>
		<string>っげ</string>
		<string>ッゲ</string>
	</array>
	<array>
		<string>ggo</string>
		<string>っご</string>
		<string>ッゴ</string>
	</array>
	<array>
		<string>dda</string>
		<string>っだ</string>
		<string>ッダ</string>
	</array>
	<array>
		<string>ddi</string>
		<string>っぢ</string>
		<string>ッヂ</string>
	</array>
	<array>
		<string>ddu</string>
		<string>っづ</string>
		<string>ッヅ</string>
	</array>
	<array>
		<string>ddzu</string>
		<string>っづ</string>
		<string>ッヅ</string>
	</array>
	<array>
		<string>dde</string>
		<string>っで</string>
		<string>ッデ</string>
	</array>
	<array>
		<string>ddo</string>
		<string>っど</string>
		<string>ッド</string>
	</array>
	<array>
		<string>hha</string>
		<string>っは</string>
		<string>ッハ</string>
	</array>
	<array>
		<string>hhi</string>
		<string>っひ</string>
		<string>ッヒ</string>
	</array>
	<array>
		<string>ffu</string>
		<string>っふ</string>
		<string>ッフ</string>
	</array>
	<array>
		<string>hhu</string>
		<string>っふ</string>
		<string>ッフ</string>
	</array>
	<array>
		<string>hhe</string>
		<string>っへ</string>
		<string>ッヘ</string>
	</array>
	<array>
		<string>hho</string>
		<string>っほ</string>
		<string>ッホ</string>
	</array>
	<array>
		<string>bba</string>
		<string>っば</string>
		<string>ッバ</string>
	</array>
	<array>
		<string>bbi</string>
		<string>っび</string>
		<string>ッビ</string>
	</array>
	<array>
		<string>bbu</string>
		<string>っぶ</string>
		<string>ッブ</string>
	</array>
	<array>
		<string>bbe</string>
		<string>っべ</string>
		<string>ッベ</string>
	</array>
	<array>
		<string>bbo</string>
		<string>っぼ</string>
		<string>ッボ</string>
	</array>
	<array>
		<string>ppa</string>
		<string>っぱ</string>
		<string>ッパ</string>
	</array>
	<array>
		<string>ppi</string>
		<string>っぴ</string>
		<string>ッピ</string>
	</array>
	<array>
		<string>ppu</string>
		<string>っぷ</string>
		<string>ップ</string>
	</array>
	<array>
		<string>ppe</string>
		<string>ぺ</string>
		<string>ペ</string>
	</array>
	<array>
		<string>ppo</string>
		<string>っぽ</string>
		<string>ッポ</string>
	</array>
	<array>
		<string>mma</string>
		<string>っま</string>
		<string>ッマ</string>
	</array>
	<array>
		<string>mmi</string>
		<string>っみ</string>
		<string>ッミ</string>
	</array>
	<array>
		<string>mmu</string>
		<string>っむ</string>
		<string>ッム</string>
	</array>
	<array>
		<string>mme</string>
		<string>っめ</string>
		<string>ッメ</string>
	</array>
	<array>
		<string>mmo</string>
		<string>っも</string>
		<string>ッモ</string>
	</array>
	<array>
		<string>rra</string>
		<string>っら</string>
		<string>ッラ</string>
	</array>
	<array>
		<string>rri</string>
		<string>っり</string>
		<string>ッリ</string>
	</array>
	<array>
		<string>rru</string>
		<string>っる</string>
		<string>ッル</string>
	</array>
	<array>
		<string>rre</string>
		<string>っれ</string>
		<string>ッレ</string>
	</array>
	<array>
		<string>rro</string>
		<string>っろ</string>
		<string>ッロ</string>
	</array>
	<array>
		<string>wwa</string>
		<string>っわ</string>
		<string>ッワ</string>
	</array>
	<array>
		<string>wwo</string>
		<string>っを</string>
		<string>ッヲ</string>
	</array>
	<array>
		<string>nka</string>
		<string>んか</string>
		<string>ンカ</string>
	</array>
	<array>
		<string>nki</string>
		<string>んき</string>
		<string>ンキ</string>
	</array>
	<array>
		<string>nku</string>
		<string>んく</string>
		<string>ンク</string>
	</array>
	<array>
		<string>nke</string>
		<string>んけ</string>
		<string>ンケ</string>
	</array>
	<array>
		<string>nko</string>
		<string>んこ</string>
		<string>ンコ</string>
	</array>
	<array>
		<string>nga</string>
		<string>んが</string>
		<string>ンガ</string>
	</array>
	<array>
		<string>ngi</string>
		<string>んぎ</string>
		<string>ンギ</string>
	</array>
	<array>
		<string>ngu</string>
		<string>んぐ</string>
		<string>ング</string>
	</array>
	<array>
		<string>nge</string>
		<string>んげ</string>
		<string>ンゲ</string>
	</array>
	<array>
		<string>ngo</string>
		<string>んご</string>
		<string>ンゴ</string>
	</array>
	<array>
		<string>nsa</string>
		<string>んさ</string>
		<string>ンサ</string>
	</array>
	<array>
		<string>nshi</string>
		<string>んし</string>
		<string>ンシ</string>
	</array>
	<array>
		<string>nsi</string>
		<string>んし</string>
		<string>ンシ</string>
	</array>
	<array>
		<string>nsu</string>
		<string>んす</string>
		<string>ンス</string>
	</array>
	<array>
		<string>nse</string>
		<string>んせ</string>
		<string>ンセ</string>
	</array>
	<array>
		<string>nso</string>
		<string>んそ</string>
		<string>ンソ</string>
	</array>
	<array>
		<string>nza</string>
		<string>んざ</string>
		<string>ンザ</string>
	</array>
	<array>
		<string>nji</string>
		<string>んじ</string>
		<string>ンジ</string>
	</array>
	<array>
		<string>nzi</string>
		<string>んじ</string>
		<string>ンジ</string>
	</array>
	<array>
		<string>nzu</string>
		<string>んず</string>
		<string>ンズ</string>
	</array>
	<array>
		<string>nze</string>
		<string>んぜ</string>
		<string>ンゼ</string>
	</array>
	<array>
		<string>nzo</string>
		<string>んぞ</string>
		<string>ンゾ</string>
	</array>
	<array>
		<string>nta</string>
		<string>んた</string>
		<string>ンタ</string>
	</array>
	<array>
		<string>nchi</string>
		<string>んち</string>
		<string>ンチ</string>
	</array>
	<array>
		<string>nti</string>
		<string>んち</string>
		<string>ンチ</string>
	</array>
	<array>
		<string>ntsu</string>
		<string>んつ</string>
		<string>ンツ</string>
	</array>
	<array>
		<string>ntu</string>
		<string>んつ</string>
		<string>ンツ</string>
	</array>
	<array>
		<string>nte</string>
		<string>んて</string>
		<string>ンテ</string>
	</array>
	<array>
		<string>nto</string>
		<string>んと</string>
		<string>ント</string>
	</array>
	<array>
		<string>nda</string>
		<string>んだ</string>
		<string>ンダ</string>
	</array>
	<array>
		<string>ndi</string>
		<string>んぢ</string>
		<string>ンヂ</string>
	</array>
	<array>
		<string>ndu</string>
		<string>んづ</string>
		<string>ンヅ</string>
	</array>
	<array>
		<string>ndzu</string>
		<string>んづ</string>
		<string>ンヅ</string>
	</array>
	<array>
		<string>nde</string>
		<string>んで</string>
		<string>ンデ</string>
	</array>
	<array>
		<string>ndo</string>
		<string>んど</string>
		<string>ンド</string>
	</array>
	<array>
		<string>nha</string>
		<string>んは</string>
		<string>ンハ</string>
	</array>
	<array>
		<string>nhi</string>
		<string>んひ</string>
		<string>ンヒ</string>
	</array>
	<array>
		<string>nfu</string>
		<string>んふ</string>
		<string>ンフ</string>
	</array>
	<array>
		<string>nhu</string>
		<string>んふ</string>
		<string>ンフ</string>
	</array>
	<array>
		<string>nhe</string>
		<string>んへ</string>
		<string>ンヘ</string>
	</array>
	<array>
		<string>nho</string>
		<string>んほ</string>
		<string>ンホ</string>
	</array>
	<array>
		<string>nma</string>
		<string>んま</string>
		<string>ンマ</string>
	</array>
	<array>
		<string>nmi</string>
		<string>んみ</string>
		<string>ンミ</string>
	</array>
	<array>
		<string>nmu</string>
		<string>んむ</string>
		<string>ンム</string>
	</array>
	<array>
		<string>nme</string>
		<string>んめ</string>
		<string>ンメ</string>
	</array>
	<array>
		<string>nmo</string>
		<string>んも</string>
		<string>ンモ</string>
	</array>
	<array>
		<string>nra</string>
		<string>んら</string>
		<string>ンラ</string>
	</array>
	<array>
		<string>nri</string>
		<string>んり</string>
		<string>ンリ</string>
	</array>
	<array>
		<string>nru</string>
		<string>んる</string>
		<string>ンル</string>
	</array>
	<array>
		<string>nre</string>
		<string>んれ</string>
		<string>ンレ</string>
	</array>
	<array>
		<string>nro</string>
		<string>んろ</string>
		<string>ンロ</string>
	</array>
	<array>
		<string>nwa</string>
		<string>んわ</string>
		<string>ンワ</string>
	</array>
	<array>
		<string>va</string>
		<string>ヴぁ</string>
		<string>ヴァ</string>
	</array>
	<array>
		<string>vi</string>
		<string>ヴぃ</string>
		<string>ヴィ</string>
	</array>
	<array>
		<string>vu</string>
		<string>ヴ</string>
		<string>ヴ</string>
	</array>
	<array>
		<string>ve</string>
		<string>ヴぇ</string>
		<string>ヴェ</string>
	</array>
	<array>
		<string>vo</string>
		<string>ヴぉ</string>
		<string>ヴォ</string>
	</array>
	<array>
		<string>fa</string>
		<string>ふぁ</string>
		<string>ファ</string>
	</array>
	<array>
		<string>fi</string>
		<string>ふぃ</string>
		<string>フィ</string>
	</array>
	<array>
		<string>fe</string>
		<string>ふぇ</string>
		<string>フェ</string>
	</array>
	<array>
		<string>fo</string>
		<string>ふぉ</string>
		<string>フォ</string>
	</array>
	<array>
		<string>ta</string>
		<string>た</string>
		<string>タ</string>
	</array>
	<array>
		<string>chi</string>
		<string>ち</string>
		<string>チ</string>
	</array>
	<array>
		<string>ti</string>
		<string>ち</string>
		<string>チ</string>
	</array>
	<array>
		<string>tsu</string>
		<string>つ</string>
		<string>ツ</string>
	</array>
	<array>
		<string>tu</string>
		<string>つ</string>
		<string>ツ</string>
	</array>
	<array>
		<string>te</string>
		<string>て</string>
		<string>テ</string>
	</array>
	<array>
		<string>to</string>
		<string>と</string>
		<string>ト</string>
	</array>
	<array>
		<string>sa</string>
		<string>さ</string>
		<string>サ</string>
	</array>
	<array>
		<string>shi</string>
		<string>し</string>
		<string>シ</string>
	</array>
	<array>
		<string>si</string>
		<string>し</string>
		<string>シ</string>
	</array>
	<array>
		<string>su</string>
		<string>す</string>
		<string>ス</string>
	</array>
	<array>
		<string>se</string>
		<string>せ</string>
		<string>セ</string>
	</array>
	<array>
		<string>so</string>
		<string>そ</string>
		<string>ソ</string>
	</array>
	<array>
		<string>ka</string>
		<string>か</string>
		<string>カ</string>
	</array>
	<array>
		<string>ki</string>
		<string>き</string>
		<string>キ</string>
	</array>
	<array>
		<string>ku</string>
		<string>く</string>
		<string>ク</string>
	</array>
	<array>
		<string>ke</string>
		<string>け</string>
		<string>ケ</string>
	</array>
	<array>
		<string>ko</string>
		<string>こ</string>
		<string>コ</string>
	</array>
	<array>
		<string>ga</string>
		<string>が</string>
		<string>ガ</string>
	</array>
	<array>
		<string>gi</string>
		<string>ぎ</string>
		<string>ギ</string>
	</array>
	<array>
		<string>gu</string>
		<string>ぐ</string>
		<string>グ</string>
	</array>
	<array>
		<string>ge</string>
		<string>げ</string>
		<string>ゲ</string>
	</array>
	<array>
		<string>go</string>
		<string>ご</string>
		<string>ゴ</string>
	</array>
	<array>
		<string>za</string>
		<string>ざ</string>
		<string>ザ</string>
	</array>
	<array>
		<string>ji</string>
		<string>じ</string>
		<string>ジ</string>
	</array>
	<array>
		<string>zi</string>
		<string>じ</string>
		<string>ジ</string>
	</array>
	<array>
		<string>zu</string>
		<string>ず</string>
		<string>ズ</string>
	</array>
	<array>
		<string>ze</string>
		<string>ぜ</string>
		<string>ゼ</string>
	</array>
	<array>
		<string>zo</string>
		<string>ぞ</string>
		<string>ゾ</string>
	</array>
	<array>
		<string>da</string>
		<string>だ</string>
		<string>ダ</string>
	</array>
	<array>
		<string>di</string>
		<string>ぢ</string>
		<string>ヂ</string>
	</array>
	<array>
		<string>du</string>
		<string>づ</string>
		<string>ヅ</string>
	</array>
	<array>
		<string>dzu</string>
		<string>づ</string>
		<string>ヅ</string>
	</array>
	<array>
		<string>de</string>
		<string>で</string>
		<string>デ</string>
	</array>
	<array>
		<string>do</string>
		<string>ど</string>
		<string>ド</string>
	</array>
	<array>
		<string>na</string>
		<string>な</string>
		<string>ナ</string>
	</array>
	<array>
		<string>ni</string>
		<string>に</string>
		<string>ニ</string>
	</array>
	<array>
		<string>nu</string>
		<string>ぬ</string>
		<string>ヌ</string>
	</array>
	<array>
		<string>ne</string>
		<string>ね</string>
		<string>ネ</string>
	</array>
	<array>
		<string>no</string>
		<string>の</string>
		<string>ノ</string>
	</array>
	<array>
		<string>ha</string>
		<string>は</string>
		<string>ハ</string>
	</array>
	<array>
		<string>hi</string>
		<string>ひ</string>
		<string>ヒ</string>
	</array>
	<array>
		<string>fu</string>
		<string>ふ</string>
		<string>フ</string>
	</array>
	<array>
		<string>hu</string>
		<string>ふ</string>
		<string>フ</string>
	</array>
	<array>
		<string>he</string>
		<string>へ</string>
		<string>ヘ</string>
	</array>
	<array>
		<string>ho</string>
		<string>ほ</string>
		<string>ホ</string>
	</array>
	<array>
		<string>ba</string>
		<string>ば</string>
		<string>バ</string>
	</array>
	<array>
		<string>bi</string>
		<string>び</string>
		<string>ビ</string>
	</array>
	<array>
		<string>bu</string>
		<string>ぶ</string>
		<string>ブ</string>
	</array>
	<array>
		<string>be</string>
		<string>べ</string>
		<string>ベ</string>
	</array>
	<array>
		<string>bo</string>
		<string>ぼ</string>
		<string>ボ</string>
	</array>
	<array>
		<string>pa</string>
		<string>ぱ</string>
		<string>パ</string>
	</array>
	<array>
		<string>pi</string>
		<string>ぴ</string>
		<string>ピ</string>
	</array>
	<array>
		<string>pu</string>
		<string>ぷ</string>
		<string>プ</string>
	</array>
	<array>
		<string>pe</string>
		<string>ぺ</string>
		<string>ペ</string>
	</array>
	<array>
		<string>po</string>
		<string>ぽ</string>
		<string>ポ</string>
	</array>
	<array>
		<string>ma</string>
		<string>ま</string>
		<string>マ</string>
	</array>
	<array>
		<string>mi</string>
		<string>み</string>
		<string>ミ</string>
	</array>
	<array>
		<string>mu</string>
		<string>む</string>
		<string>ム</string>
	</array>
	<array>
		<string>me</string>
		<string>め</string>
		<string>メ</string>
	</array>
	<array>
		<string>mo</string>
		<string>も</string>
		<string>モ</string>
	</array>
	<array>
		<string>ya</string>
		<string>や</string>
		<string>ヤ</string>
	</array>
	<array>
		<string>yu</string>
		<string>ゆ</string>
		<string>ユ</string>
	</array>
	<array>
		<string>yo</string>
		<string>よ</string>
		<string>ヨ</string>
	</array>
	<array>
		<string>ra</string>
		<string>ら</string>
		<string>ラ</string>
	</array>
	<array>
		<string>ri</string>
		<string>り</string>
		<string>リ</string>
	</array>
	<array>
		<string>ru</string>
		<string>る</string>
		<string>ル</string>
	</array>
	<array>
		<string>re</string>
		<string>れ</string>
		<string>レ</string>
	</array>
	<array>
		<string>ro</string>
		<string>ろ</string>
		<string>ロ</string>
	</array>
	<array>
		<string>wa</string>
		<string>わ</string>
		<string>ワ</string>
	</array>
	<array>
		<string>wo</string>
		<string>を</string>
		<string>ヲ</string>
	</array>
	<array>
		<string>n'</string>
		<string>ん</string>
		<string>ン</string>
	</array>
	<array>
		<string>n </string>
		<string>ん</string>
		<string>ン</string>
	</array>
	<array>
		<string>n</string>
		<string>ん</string>
		<string>ン</string>
	</array>
	<array>
		<string>a</string>
		<string>あ</string>
		<string>ア</string>
	</array>
	<array>
		<string>i</string>
		<string>い</string>
		<string>イ</string>
	</array>
	<array>
		<string>u</string>
		<string>う</string>
		<string>ウ</string>
	</array>
	<array>
		<string>e</string>
		<string>え</string>
		<string>エ</string>
	</array>
	<array>
		<string>o</string>
		<string>お</string>
		<string>オ</string>
	</array>
	<array>
		<string> </string>
		<string></string>
		<string></string>
	</array>
	<array>
		<string>-</string>
		<string>ー</string>
		<string>ー</string>
	</array>
</array>
</plist>
