<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <string>Kanji > on'yomi</string>
    <string>Kanji > kun'yomi</string>
    <string>On'yomi > kanji</string>
    <string>Kun'yomi > kanji</string>
    <string>Kanji > znaczenie</string>
    <string>kun'yomi > znaczenie</string>
    <string>Zlozenie > znaczenie</string>
    <string>Znaczenie > zlozenie</string>
    <string>Czytanie slow</string>
</array>
</plist>
