<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>label</key>
		<string>Kanji ➙ kun&apos;yomi</string>
		<key>questionObject</key>
		<string>Kunyomi</string>
		<key>questionProperty</key>
		<string>kanji</string>
		<key>answerProperty</key>
		<string>reading</string>
	</dict>
	<dict>
		<key>label</key>
		<string>Kanji ➙ on&apos;yomi</string>
		<key>questionObject</key>
		<string>Onyomi</string>
		<key>questionProperty</key>
		<string>kanji</string>
		<key>answerProperty</key>
		<string>reading</string>
	</dict>
	<dict>
		<key>label</key>
		<string>Kun&apos;yomi ➙ kanji</string>
		<key>questionObject</key>
		<string>Kunyomi</string>
		<key>questionProperty</key>
		<string>reading</string>
		<key>answerProperty</key>
		<string>kanji</string>
	</dict>
	<dict>
		<key>label</key>
		<string>On&apos;yomi ➙ kanji</string>
		<key>questionObject</key>
		<string>Onyomi</string>
		<key>questionProperty</key>
		<string>reading</string>
		<key>answerProperty</key>
		<string>kanji</string>
	</dict>
	<dict>
		<key>label</key>
		<string>Kanji ➙ znaczenie</string>
		<key>questionObject</key>
		<string>Kanji</string>
		<key>questionProperty</key>
		<string>kanji</string>
		<key>answerProperty</key>
		<string>meaning</string>
	</dict>
	<dict>
		<key>label</key>
		<string>kun&apos;yomi ➙ znaczenie</string>
		<key>questionObject</key>
		<string>Kunyomi</string>
		<key>questionProperty</key>
		<string>reading</string>
		<key>answerProperty</key>
		<string>meaning</string>
	</dict>
	<dict>
		<key>label</key>
		<string>Złożenie ➙ znaczenie</string>
		<key>questionObject</key>
		<string>Example</string>
		<key>questionProperty</key>
		<string>example</string>
		<key>answerProperty</key>
		<string>meaning</string>
	</dict>
	<dict>
		<key>label</key>
		<string>Znaczenie ➙ złożenie</string>
		<key>questionObject</key>
		<string>Example</string>
		<key>questionProperty</key>
		<string>meaning</string>
		<key>answerProperty</key>
		<string>example</string>
	</dict>
</array>
</plist>
