<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>label</key>
		<string>Kanji &gt; kun&apos;yomi</string>
		<key>questionObject</key>
		<string>Kunyomi</string>
		<key>questionProperty</key>
		<string>kanji</string>
		<key>answerProperty</key>
		<string>reading</string>
	</dict>
	<dict>
		<key>label</key>
		<string>Kanji &gt; on&apos;yomi</string>
		<key>questionObject</key>
		<string>Onyomi</string>
		<key>questionProperty</key>
		<string>kanji</string>
		<key>answerProperty</key>
		<string>reading</string>
	</dict>
	<dict>
		<key>label</key>
		<string>Kun&apos;yomi &gt; kanji</string>
		<key>questionObject</key>
		<string>Kunyomi</string>
		<key>questionProperty</key>
		<string>reading</string>
		<key>answerProperty</key>
		<string>kanji</string>
	</dict>
	<dict>
		<key>label</key>
		<string>On&apos;yomi &gt; kanji</string>
		<key>questionObject</key>
		<string>Onyomi</string>
		<key>questionProperty</key>
		<string>reading</string>
		<key>answerProperty</key>
		<string>kanji</string>
	</dict>
	<dict>
		<key>label</key>
		<string>Kanji &gt; znaczenie</string>
		<key>questionObject</key>
		<string>Character</string>
		<key>questionProperty</key>
		<string>kanji</string>
		<key>answerProperty</key>
		<string>meaning</string>
	</dict>
	<dict>
		<key>label</key>
		<string>kun&apos;yomi &gt; znaczenie</string>
		<key>questionObject</key>
		<string>Kunyomi</string>
		<key>questionProperty</key>
		<string>reading</string>
		<key>answerProperty</key>
		<string>meaning</string>
	</dict>
	<dict>
		<key>label</key>
		<string>Zlozenie &gt; znaczenie</string>
		<key>questionObject</key>
		<string>Example</string>
		<key>questionProperty</key>
		<string>example</string>
		<key>answerProperty</key>
		<string>meaning</string>
	</dict>
	<dict>
		<key>label</key>
		<string>Znaczenie &gt; zlozenie</string>
		<key>questionObject</key>
		<string>Example</string>
		<key>questionProperty</key>
		<string>meaning</string>
		<key>answerProperty</key>
		<string>example</string>
	</dict>
	<dict>
		<key>label</key>
		<string>Czytanie slow</string>
		<key>questionObject</key>
		<string>Example</string>
		<key>questionProperty</key>
		<string>meaning</string>
		<key>answerProperty</key>
		<string>example</string>
	</dict>
</array>
</plist>
